<div class="main-content">
  <!-- main div -->

  <nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0">
    <!-- main div -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 bg-white">
      <!-- Logo div -->
      <img src="../assets/img/Final-Sequel-Logo-web.png" width="200" height="72">
    </a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link text-white">Praidhi Rana
        </a>

      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <!-- Container-fluid -->
    <div class="row">
      <!-- row -->
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <!-- Sidebar -->
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active text-white p-3">
                <i class="fas fa-home pr-2"></i>
                <span data-feather="home"></span>
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3">
                <i class="fas fa-home pr-2"></i>
                OU Masters
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3">
                <i class="fas fa-home pr-2"></i>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3">
                <i class="fas fa-home pr-2"></i>
                On Boarding
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3">
                <i class="fas fa-home pr-2"></i>
                Employee
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white p-3">
                <i class="fas fa-home pr-2"></i>
                Separation
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-3">

      <nav>
          <div class="nav nav-tabs tab bg-white  m-4" id="nav-tab" role="tablist">
            <a class="nav-item text-left  border-bottom tablinks w-100 tablinks nav-link active" onclick="openCity(event, 'nav-home')" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true"> <i class="far fa-check-circle pr-2 text-darkk"></i> Offical Details</a>
            <a class="nav-item text-left  border-bottom  tablinks w-100 tablinks nav-link" id="nav-profile-tab" onclick="openCity(event, 'nav-profile')" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false"><i class="fas fa-cog pr-2 text-dark"></i>Personal Details</a>
            <a class="nav-item text-left  border-bottom  tablinks w-100 tablinks nav-link" id="nav-contact-tab" onclick="openCity(event, 'nav-contact')" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false"><i class="fas fa-cog pr-2 text-dark"></i>Compensation</a>
              <a class="nav-item left  border-bottom tablinks w-100 tablinks nav-link " onclick="openCity(event, 'nav-home')" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true"> <i class="far fa-check-circle pr-2 text-dark"></i>Employee Confirmation</a>
            <a class="nav-item text-left  border-bottom  tablinks w-100 tablinks nav-link" id="nav-profile-tab" onclick="openCity(event, 'nav-profile')" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false"><i class="fas fa-cog pr-2 text-dark"></i>Download Documents</a>
          </div>
        </nav>
      </div>
      <main role="main" class="col-md-12 ml-sm-auto col-lg-7 pt-3 px-4"><!-- Admin Form div -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item tablinks nav-link active" onclick="openCity(event, 'nav-home')" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true">Offical Details</a>
            <a class="nav-item tablinks nav-link" id="nav-profile-tab" onclick="openCity(event, 'nav-profile')" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false">Personal Details</a>
            <a class="nav-item tablinks nav-link" id="nav-contact-tab" onclick="openCity(event, 'nav-contact')" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false">Compensation</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form class="p-4 card m-4">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="text-info" for="FormControlSelect1">Title</label>
                    <select class="form-control" id="FormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="text-info" for="InputFname1">First Name
                      <sup class="text-danger">*</sup>
                    </label>
                    <input type="text" class="form-control" id="First Name" aria-describedby="emailHelp" placeholder="">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="text-info" for="InputMname1">Middle Name</label>
                    <input type="text" class="form-control" id="Middlename" placeholder="">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="text-info" for="InputMname1">Middle Name</label>
                    <input type="text" class="form-control" id="Middlename" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="FormControlSelect1">Gender</label>
                    <select class="form-control" id="FormControlSelect1">
                      <option>Male</option>
                      <option>Felmale</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="Employeecode">Employee Code
                      <sup class="text-danger">*</sup>
                    </label>
                    <input type="text" class="form-control" id="Employeecode" placeholder="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="AccessCode">Access Code
                      <sup class="text-danger">*</sup>
                    </label>
                    <input type="text" class="form-control" id="Acodename" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="Employeecode">Employee Code
                      <sup class="text-danger">*</sup>
                    </label>
                    <input type="text" class="form-control" id="Employeecode" placeholder="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="AccessCode">Date of Joining
                      <sup class="text-danger">*</sup>
                    </label>
                    <input type="text" class="form-control" id="Acodename" placeholder="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="text-info" for="FormControlSelect1">Company</label>
                    <select class="form-control" id="FormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </div>





              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form class="p-4 card m-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <form class="p-4 card m-4">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>

  </div>
